html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 35%;
    background: url(../img/hero.jpg) no-repeat top center;
    background-size: 100% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 2rem;
    color: #fff;
    position: relative;
}

.phone-number,
.call-to-action,
.logo {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #9c9fb1;
}

.phone-number,
.call-to-action {
    padding-top: 2.5rem;
}

nav {
    width: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(0, 0, 78);
    position: relative;
    bottom: 20%;
}

nav div {
    padding: .5rem;
}

nav a {
    color: #fff;
    text-shadow: 2px 2px 10px #333;
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

nav a:hover {
    color: #00aaef;
    text-decoration: none;
}

section {
    padding-bottom: 10rem;
}

h1 {
    margin-top: 0;
}

#about,
#gallery,
#consult,
#testimonials,
#contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.headline,
.main {
    padding-left: 2rem;
}

.headline {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.main {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

#gallery,
#testimonials {
    background-color: #eee;
}

.gallery-headline,
.consult-headline,
.testimonials-headline,
.contact-headline {
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -2rem;
}

#gallery .hr-line,
#consult .hr-line,
#testimonials .hr-line,
#contact .hr-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-top: 0.125rem;
    margin-bottom: 3rem;
}

#gallery .homes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#gallery .homes img {
    max-width: 100%;
    margin: .5rem;
}

#gallery .home-desc {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0.75rem 0 2rem 2rem;
}

#gallery .location {
    color: #00aaef;
}

.btn {
    background-color: #00aaef;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2.5rem;
}

.btn:hover {
    background-color: #0079a9;
}

#gallery .btn {
    margin-bottom: 3rem;
}

.consult-intro-headline {
    font-size: 2rem;
}

.consult-form,
.consult-intro,
.contact-form,
.contact-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding-left: 2rem;
}

.consult-form form,
.contact-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.consult-form input,
.contact-form input,
.contact-form textarea {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 1rem;
}

.consult-form .btn {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-top: 1rem;
}

#testimonials .customer {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2rem;
}

.quote {
    font-size: 6rem;
    display: inline-block;
    margin-top: 1rem;
    position: relative;
    top: -1rem;
    left: .75rem;
}

.contact-intro div {
    font-size: 1.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-bottom: 1rem;
}

.contact-intro div a {
    text-decoration: none;
}

footer {
    width: 100%;
    min-height: 10%;
    background: url(../img/footer.jpg) no-repeat top center;
    background-size: 100% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 2rem;
    color: #fff;
}

footer div {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-align: center;
}

@media (min-width: 768px) {
    nav {
        background-color: transparent;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    nav div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    nav a {
        text-align: center;
    }
    .headline {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
    }
    .headline,
    .main {
        padding-top: 2rem;
    }
    footer {
        min-height: 25%;
    }
}

@media (min-width: 940px) {
    .hero {
        min-height: 45%;
    }
    nav {
        bottom: 10%;
        /* margin-top: -17rem; */
    }
}

@media (min-width: 1200px) {
    .hero {
        min-height: 55%;
    }
    nav {
        margin-top: -7rem;
    }
}