html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 35%;
    background: url(../img/hero.jpg) no-repeat top center; 
    background-size: 100% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
    color: #fff;
    position: relative;
}

.phone-number, .call-to-action, .logo {
    flex-grow: 1;
    flex-basis: 33.333%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #9c9fb1;
}

.phone-number, .call-to-action {
    padding-top: 2.5rem;
}

nav {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(0, 0, 78);
    position: absolute;
    bottom: 20%;
}

nav div {
    padding: .5rem;
}
nav a {
    color: #fff;
    text-shadow: 2px 2px 10px #333;
    text-decoration: none;
    flex: 1;
}

nav a:hover {
    color: #00aaef;
    text-decoration: none;
}

section {
    padding-bottom: 10rem;
}

h1 {
    margin-top: 0;
}

#about, #gallery, #consult, #testimonials, #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.headline, .main {
    padding-left: 2rem;
}

.headline {
    flex: 1 1 100%;
}

.main {
    flex: 4;
}

#gallery, #testimonials {
    background-color: #eee;
}

.gallery-headline, .consult-headline, .testimonials-headline, .contact-headline {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    flex-wrap: wrap;
    margin-top: -2rem;
}

#gallery .hr-line, #consult .hr-line, #testimonials .hr-line, #contact .hr-line {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    margin-top: 0.125rem;
    margin-bottom: 3rem;
}

#gallery .homes {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto; 
    justify-content: space-around;
}

#gallery .homes img {
    max-width: 100%;
    margin: .5rem;
}

#gallery .home-desc {
    flex: 1 1 100%;
    justify-content: space-around;
    margin: 0.75rem 0 2rem 2rem;
}

#gallery .location {
    color: #00aaef;
}

.btn {
    background-color: #00aaef;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2.5rem;
}

.btn:hover {
    background-color: #0079a9;
}

#gallery .btn {
    margin-bottom: 3rem;
}

.consult-intro-headline {
    font-size: 2rem;
}

.consult-form, .consult-intro, .contact-form, .contact-intro {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    flex: 1 1 50%; 
    padding-left: 2rem;
}

.consult-form form, .contact-form form {
    display: flex;
    flex-wrap: wrap;
}

.consult-form input, .contact-form input, .contact-form textarea {
    flex-basis: 100%;
    margin-bottom: 1rem;
}

.consult-form .btn {
    flex-basis: 100%;
    text-align: center;
    margin-top: 1rem;
}

#testimonials .customer {
    position: relative;
    flex: 1 1 33%;
    box-sizing: border-box;
    padding-left: 2rem;
}

.quote {
    font-size: 6rem;
    display: inline-block;
    margin-top: 1rem;
    position: relative;
    top: -1rem;
    left: .75rem;
}

.contact-intro div {
    font-size: 1.5rem;
    flex: 1 1 100%;
    margin-bottom: 1rem;
}

.contact-intro div a {
    text-decoration: none;
}

footer {
    width: 100%;
    min-height: 10%;
    background: url(../img/footer.jpg) no-repeat top center; 
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    padding-top: 2rem;
    color: #fff;
}

footer div {
    flex: 1 1 100%;
    text-align: center;
}

@media (min-width: 768px) {
    nav {
        background-color: transparent;
        flex-direction: row;
    }

    nav div {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-evenly;
    }

    nav a {
        text-align: center;
    }

    .headline {
        flex-basis: 0;
    }
    
    .headline, .main {
        padding-top: 2rem;
    }

    footer {
        min-height: 25%;
    }
}

@media (min-width: 940px) {
    .hero {
        min-height: 45%;
    }

    nav {
        bottom: 10%;
        /* margin-top: -17rem; */
    }
}

@media (min-width: 1200px) {
    .hero {
        min-height: 55%;
    }

    nav {
        margin-top: -7rem;
    }
}